*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    text-transform:uppercase;
    margin-top:50px;
}
#container{
    width:70vw;
    margin:50px auto;
    background-color: blueviolet;
    padding:70px;
    text-align: center;
}
.input{
    display: inline-block;
    width:40%;

}
input{
    height:50px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    width:90%;
}
span{
    font-size: 30px;
    font-weight: bold;

}
/* input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance: none;
} */